<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Artpix AI</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="google-adsense-account" content="ca-pub-6538426197536420">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link
        href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&amp;family=Inter:wght@700;800&amp;display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <link
        href="https://www.jqueryscript.net/demo/Responsive-Mobile-friendly-Image-Comparison-Plugin-Images-Compare/src/assets/css/images-compare.css"
        rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/assets/css/animate.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/assets/css/style.css?v=1" rel="stylesheet">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6538426197536420"
     crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-xxl bg-white p-0">

        <!-- Navbar Start -->
        <div class="container-xxl position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                <a class="navbar-brand p-0">
                    <h1 class="m-0">Artpix AI</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-expanded="false">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarCollapse" style="">
                    <div class="navbar-nav ms-auto py-0">
                        <a href="/" class="nav-item nav-link">Home</a>
                        <a href="/text-to-image" class="nav-item nav-link">Text to Image</a>
                        <a href="/image-to-image" class="nav-item nav-link">Image to image</a>
                        <!-- <a href="/remove-background" class="nav-item nav-link">Remove background</a>
                        <a href="/upscale" class="nav-item nav-link">Upscale</a>
                        <a href="/unblur" class="nav-item nav-link">Unblur</a>
                        <a href="/blur-background" class="nav-item nav-link">blur background</a>
                        <a href="/colorizer" class="nav-item nav-link">Colorizer</a> -->
                    </div>
                </div>
            </nav>

        </div>
    </div> <!-- Navbar End -->


    <!-- header Start -->
    <div class="container-xxl py-6">
        <div class="container">
            <div class="mx-auto text-center wow fadeInUp m-5" data-wow-delay="0.1s"
                style="max-width: 600px; visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <h1 class="">AI Art cartoon</h1>
            </div>
        </div>
    </div>
    <!-- header End -->


    <div class="container-fluid py-5">
        <div class="container">

            <div class="row justify-content-center wow fadeInUp mb-5" data-wow-delay="0.5s"
                style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-4 p-md-5 p-sm-3">
                    <div class="js-img-compare">
                        <div style="display: none;">
                            <img src="/assets/pic/a1.png"
                                alt="Before">
                        </div>
                        <div>
                            <img src="/assets/pic/a2.png"
                                alt="After">
                        </div>
                    </div>
                </div>
                <div
                    class="col-lg-6 col-md-6 col-sm-6 col-12 mb-5 p-md-5 p-sm-3 d-flex flex-column justify-content-center">
                    <div class="col-12 text-center">
                        <h2 class="mb-0 mb-4">AI Art cartoon</h2>
                    </div>
                    <div class="col-12">
                        <p>
                            AI Art Cartoon is not just a tool that makes creating cartoon images easy; it's more like an artist with the ability to transform ordinary pictures into adorable masterpieces! With a capability comparable to human artists in understanding the intricacies and patterns in images, AI Art Cartoon can create remarkable and charming works that are truly unique.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center wow fadeInUp mb-5" data-wow-delay="0.5s"
                style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                <div class="col-lg-612 col-md-12 col-sm-12 col-12 mb-4 p-md-5 p-sm-3 text-center">

                    <form>
                        <div class="row justify-content-center">

                            <div class="col-md-3 col-ms-12  mb-3">

                                <input class="form-control form-control-lg" name="file0" type="file" accept=".jpg, .png">

                            </div>

                            <span>Max Size 5000 x 5000, 5MB , .jpg, .png</span>
                            <span>Process 1 min.</span>

                            <div class="col-md-12 col-ms-12 text-center m-3">
                                <button type="submit"
                                    class="btn btn-lightBlue mt-md-5 mt-sm-3 ps-5 pe-5">Generate</button>
                            </div>

                            <div class="col-md-12 col-ms-12 text-center m-3">
                                <div id="loadding1" class="spinner-border m-5 d-none"
                                    style="color: rgb(99, 99, 255) !important;" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <div id="result1">
                                    <img style="width: 100%;">
                                </div>
                            </div>
                        </div>
                    </form>


                </div>
            </div>

            <div class="container-xxl py-6">
                <div class="container">
                    <div class="mx-auto text-center wow fadeInUp m-5" data-wow-delay="0.1s"
                        style="max-width: 600px; visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <h1 class="">Ai Art Anime</h1>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center wow fadeInUp mb-5" data-wow-delay="0.5s"
                style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-4 p-md-5 p-sm-3">
                    <div class="js-img-compare">
                        <div style="display: none;">
                            <img src="/assets/pic/b1.png"
                                alt="Before">
                        </div>
                        <div>
                            <img src="/assets/pic/b2.png"
                                alt="After">
                        </div>
                    </div>
                </div>
                <div
                    class="col-lg-6 col-md-6 col-sm-6 col-12 mb-5 p-md-5 p-sm-3 d-flex flex-column justify-content-center">
                    <div class="col-12 text-center">
                        <h2 class="mb-0 mb-4">AI Art anime</h2>
                    </div>
                    <div class="col-12">
                        <p>
                            AI Art Anime goes beyond being a mere tool for simplifying the creation of anime-style images; it's akin to an artist with the ability to turn ordinary visuals into stunning anime masterpieces! Possessing a capability comparable to human artists, AI Art Anime can understand the nuances and artistic elements of images, resulting in the creation of remarkable and captivating anime artwork that is truly one-of-a-kind.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center wow fadeInUp mb-5" data-wow-delay="0.5s"
                style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                <div class="col-lg-612 col-md-12 col-sm-12 col-12 mb-4 p-md-5 p-sm-3 text-center">

                    <form>
                        <div class="row justify-content-center">

                            <div class="col-md-3 col-ms-12  mb-3">

                                <input class="form-control form-control-lg" name="file1" type="file" accept=".jpg, .png">

                            </div>

                            <span>Max Size 5000 x 5000, 5MB , .jpg, .png</span>
                            <span>Process 1 min.</span>

                            <div class="col-md-12 col-ms-12 text-center m-3">
                                <button type="submit"
                                    class="btn btn-lightBlue mt-md-5 mt-sm-3 ps-5 pe-5">Generate</button>
                            </div>

                            <div class="col-md-12 col-ms-12 text-center m-3">
                                <div id="loadding2" class="spinner-border m-5 d-none"
                                    style="color: rgb(99, 99, 255) !important;" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <div id="result2">
                                    <img style="width: 100%;">
                                </div>
                            </div>

                        </div>
                    </form>


                </div>
            </div>

        </div>
    </div>


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer">
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        © 2023 Artpix-AI Officials. All rights reserved
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="/">Home</a>
                            <a href="https://www.iubenda.com/privacy-policy/63833862" class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe " title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top" style="display: none;"><i
            class="bi bi-arrow-up"></i></a>



    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://themewagon.github.io/bizconsult/lib/wow/wow.min.js"></script>
    <script src="https://themewagon.github.io/bizconsult/lib/easing/easing.min.js"></script>
    <script src="https://themewagon.github.io/bizconsult/lib/waypoints/waypoints.min.js"></script>
    <script src="https://themewagon.github.io/bizconsult/lib/owlcarousel/owl.carousel.min.js"></script>

    <script src="https://themewagon.github.io/bizconsult/js/main.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <script
        src="https://www.jqueryscript.net/demo/Responsive-Mobile-friendly-Image-Comparison-Plugin-Images-Compare/src/assets/js/jquery.images-compare.js"></script>
    <script>
        $('.js-img-compare').imagesCompare();
    </script>

    <script>
        $($('form')[0]).submit(function (e) {
            e.preventDefault();

            var formData = new FormData();
            formData.append('file', $('input[name="file0"]')[0].files[0]);
            formData.append('type', 'image-to-image');
            formData.append('index', 0);

            $('#loadding1').removeClass('d-none');
            $('#result1 img').removeAttr('src');

            $.ajax({
                url: 'https://artpix.000webhostapp.com/request.php',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    let arr = JSON.parse(data);
                    if (!arr.error) {
                        $('#result1 img').attr('src', arr.url);
                        $('input[name="file0"]')[0].value = '';
                    }
                    $('#loadding1').addClass('d-none');
                },
                error: function (error) {
                    console.error('Error uploading file:', error);
                }
            });
        });

        $($('form')[1]).submit(function (e) {
            e.preventDefault();

            var formData = new FormData();
            formData.append('file', $('input[name="file1"]')[0].files[0]);
            formData.append('type', 'image-to-image');
            formData.append('index', 1);

            $('#loadding2').removeClass('d-none');
            $('#result2 img').removeAttr('src');

            $.ajax({
                url: 'https://artpix.000webhostapp.com/request.php',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    let arr = JSON.parse(data);
                    if (!arr.error) {
                        $('#result2 img').attr('src', arr.url);
                        $('input[name="file1"]')[0].value = '';
                    }
                    $('#loadding2').addClass('d-none');
                },
                error: function (error) {
                    console.error('Error uploading file:', error);
                }
            });
        });
    </script>


</body>

</html>